{% load bootstrap5 %}

{% bootstrap_css %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
    <title>

        {% block head_title %}

        {% endblock head_title %}
        - Meals
    </title>
    
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

        html,
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .text-justify {
            text-align: justify;
            text-justify: inter-word;
        }

        
    </style>
</head>

<body>

    {% block content %}

    {% endblock content %}

  
</body>

</html>